body {
    background-color: gray;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 20px;
    color: white;
}

.qHead {
    text-align: center;
    color: gainsboro;
    font-size: 35px;
}

.return {
    width: 100px;
    text-decoration-line: none;
    font-family: 'Telex', sans-serif;
    background-color: gainsboro;
    color: black; 
    font-size: 15px;
    text-align: center; 
    margin-left: 43%;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 10px;
}

.return:hover {
    background-color: rgb(43, 37, 37);
    color: orangered;

}