body {
    padding: 5%;
    background: url(BG/77777.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Nunito Sans', sans-serif;
    margin: auto;
    text-align: center;
    color: gainsboro;
}

.desc {
    height: auto;
    width: auto;
    text-align: center;
    display: block;
    margin: auto;
    padding: 6%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
}

.verse {
    text-align: center;
    color: orangered;
    border: 2px solid orangered;
    display: block;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.return , .answer {
    width: 100px;
    text-decoration-line: none;
    font-family: 'Telex', sans-serif;
    background-color: gray;
    color: white; 
    font-size: 15px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 10px;
}

.return:hover , .answer:hover {
    background-color: rgb(43, 37, 37);
    color: orangered;

}