body {
    padding: 5%;
    background: url(BG/55555.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Nunito Sans', sans-serif;
    margin: auto;
    text-align: center;
}
.how {
    text-align: center;
    display: block;
    margin: auto;
    padding: 5%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
}

.desc {
    height: auto;
    width: auto;
    text-align: center;
    display: block;
    margin: auto;
    padding: 2%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
}

.return {
    width: 100px;
    text-decoration-line: none;
    font-family: 'Telex', sans-serif;
    background-color: gray;
    color: white; 
    font-size: 15px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 10px;
}

.return:hover {
    background-color: rgb(43, 37, 37);
    color: orangered;

}