body {
    padding: 5%;
    background: url(BG/66666.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Nunito Sans', sans-serif;
    margin: auto;
    text-align: center;
}

.questionPage {
    margin: auto;
    text-align: center;
}

.question {
    display: block;
    padding-top: 13%;
    font-family: 'Telex', sans-serif;
    font-size: 45px;
    color: white;
}

.question::first-letter{
    font-size: 60px;
    color: orangered;
}

.button {
    display: block;
    font-size: 18px;
    width: 180px;
    height: auto; 
    background-color: gray;
    color: white; 
    font-size: 17px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(43, 37, 37);
    color: orangered;
}

.scoreSec {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
}

.tallyButton , .ending{
    display: block;
    font-size: 18px;
    width: 180px;
    height: auto; 
    background-color: gray;
    color: white; 
    font-size: 17px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 10px;
}

.tallyButton:hover , .ending:hover {
    background-color: rgb(43, 37, 37);
    color: orangered;

}