 body {
    padding: 5%;
    background: url(BG/11111.jpg);
    background-position: fixed;
    background-attachment: fixed; 
    font-family: 'Nunito Sans', sans-serif;
    margin: auto;
    text-align: center;
}

.bg {
    margin: auto;
    width: 60%;
    border: 5px solid lightgray;
    color: white;
    padding: 7%;
}

.title {
    letter-spacing: 3px;
    word-spacing: 3px;
    margin: auto;
    color: gainsboro;
    font-family: 'Monoton';
    padding-top: 6%;
    font-size: 85px;
}


.quote {
    text-shadow: 2px 1px black;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 5px;
    margin: auto;
    font-size: 20px; 
    color: white;
    padding-bottom: 7%; 
}

.click {
    width: 90px;
    text-decoration-line: none;
    font-family: 'Telex', sans-serif;
    background-color: gray;
    color: white; 
    font-size: 15px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 10px;
}

.click:hover {
    background-color: rgb(43, 37, 37);
    color: orangered;

}